.contact {
    .contact-con {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .map {
        width: 100%;
        height: 40%;
        map {
            width: 100%;
            height: 100%;
        }
    }
    .contactinfo {
        width: 90%;
        height: 55%;
        margin: 5% 5% 0 5%;
        border-radius: $uni-border-radius-lg;
        background-color: $uni-bg-color-href;
        overflow: hidden;
        .erweima {
            height: 30%;
            margin: 3% auto;
            border-radius: $uni-border-radius-base;
            overflow: hidden;
        }
        .infos {
            width: 96%;
            padding: 1% 2%;
            height: 13%;
            display: flex;
            image {
                width: 7%;
            }
            .name {
                width: 25%;
                // line-height: 50rpx;
                padding-left: 5rpx;
                display: flex;
                align-items: center;
            }
            .name-text {
                width: 68%;
                font-size: $uni-font-size-base;
                color: $uni-color-subtitle;
                // line-height: 50rpx;
                display: flex;
                align-items: center;
            }
        }
    }
    Footer {
        width: 100%;
        height: 10%;
    }
}