.vhost {
    height: 100%;
    .winvhost, .oldbetter, .type, .linux, .front, .tool {
        width: 96%;
        padding: 2%;
        text-align: center;
    }
    .windowsimg, .linuximg {
        padding: 40rpx 20rpx 10rpx 20rpx;
        text-align: center;
        height: 11%;
    }
    .type {
        display: flex;
    }
    .vhost-text, .linux-text {
        font-size: $uni-font-size-lgtitle;
    }
    .type-text {
        width: 33%;
        color: #001d56;
    }
    .tool {
        display: flex;
    }
    .caddy, .docker {
        width: calc(50% - 40rpx);
        text-align: center;
        height: 60rpx;
        padding: 0 20rpx;
        image {
            width: 60rpx;
        }
    }
}