.yuming {
    .yulike {
        width: 92%;
        padding: 4%;
        text-align: center;
    }
    .segmented-control {
        padding: 0 5%;
        .segmented-control__item {
          width: 33%;
          border: none;
          border-radius: $uni-border-radius-lg;
          font-size: $uni-font-size-lgtitle;
        }
    }
    .segmented-control__text{ 
        color: $uni-text-color !important; 
    }
    .yucard-content {
        .yucard-name {
            padding: 8%;
            text-align: center;
            .name-text {
                font-size: $uni-font-size-lgtitle;
            }
        }
        .yucard-des {
            margin-left: 4%;
            margin-right: 4%;
            font-size: $uni-font-size-base;
            color: $uni-color-subtitle;
            letter-spacing: 1px;
            text-indent: 2em;
        }
        .yucard-price {
            padding: 4%;
            text-align: center;
            .price-text {
                font-size: $uni-font-size-biger;
                color: $uni-bg-color-green;
                font-weight: bold;
            }
            .price-year {
                font-size: $uni-font-size-lgtitle;
            }
        }
    }
}